{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Users{% endblock %}</h1>
{% if g.user %}

{% endif %}
{% endblock %}

{% block content %}

<article class="users">
    <header>
        <div>
            <form action="{{ url_for('admin.delete') }}" method='post'>

                <label for="users">Choose a user id:</label>

                <select name="delete_user" id="users">
                    {% for user in users %}
                        <option> {{user["username"]}} </option>
                    {% endfor %}
                </select> 
                <input type="submit" value="Delete">
            </form>
            

        </div>
    </header>

</article>


{% endblock %}