{% extends 'base.html' %}

{% block header %}
{% if g.user %}
    <p>Welcome {{g.user['username']}}</p>
{% endif %}
{% endblock %}

{% block content %}

<article class="users">
    <header>
        <div class='container'>
            <div class='child'><h1>Users</h1></div>
            <div class='child'>
                <form action="{{ url_for('admin.delete') }}" method='post'>

                    <label for="users">Choose a user id:</label>

                    <select name="delete_user" id="users">
                        {% for user in users %}
                        <option> {{user["username"]}} </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>
    </header>

</article>


{% endblock %}